.footer {
  padding-top: 178px;
  background-color: $green-color;

  @media screen and (max-width: 912px) {
    padding-top: 50px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: ($xl - 1px)) {
      justify-content: start;
    }

    @media screen and (max-width: $md) {
      padding-bottom: 80px;
    }

    .contacts {
      flex: 1 0 0px;
      color: $white;
      font-size: 14px;
      font-weight: 300;
      margin-right: 20px;
      max-width: 456px;

      @media screen and (max-width: ($xl - 1px)) {
        max-width: 700px;
        flex: auto;
      }

      &__title {
        font-size: 20px;
        font-weight: 700;
        text-shadow: 1px 1px 1px $black;
        color: $gray-bg-color;
      }

      &__text {
        margin: 17px 0 80px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;

        @media screen and (max-width: ($xl - 1px)) {
          margin-bottom: 30px;
        }
      }

      &__link {
        color: $white;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 400;
      }

      &__link:nth-of-type(1) {
        margin-right: 24px;
      }

      &__social-links {
        margin: 36px 0 84px 0;
        height: 27px;

        @media screen and (max-width: ($xl - 1px)) {
          margin: 30px 0 0 0;
        }
        a {
          margin-right: 21px;

          img {
            width: 27px;
            height: 27px;
          }
        }
      }
    }

    .links-block {
      width: 280px;

      @media screen and (max-width: 1041px) {
        margin-top: 50px;
      }

      &__title {
        font-size: 20px;
        font-weight: 700;
        color: $gray-bg-color;
      }

      &__list {
        list-style-image: url("../images/footer/maker.svg");
      }

      &__item {
        padding-left: 5px;
        margin-left: 10px;
        margin-top: 16px;
        a {
          font-size: 14px;
          font-weight: 400;
          color: $white-color;
        }
      }

      &__item:hover {
        list-style-image: url("../images/footer/marker-active.svg");
        a {
          color: $yellow-color;
          text-decoration: underline;
        }

        .links-block__item-new {
          background-color: $yellow-color;
        }
      }

      &__item-new {
        margin-left: 10px;
        font-weight: 700;
        font-size: 12px;
        border-radius: 4px;
        padding: 2px 10px;
        width: 44px;
        height: 20px;
        color: $green-color;
        background-color: $white;
      }
    }
  }

  .copyright-background {
    background-color: $black-color;
  }

  .copyright {
    height: 66px;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 655px) {
      flex-direction: column;
      justify-content: center;
      height: 86px;
      text-align: center;
    }

    &__privay {
      color: $white;
      text-decoration: underline;
    }
  }
}
