$white-color: #fdfdfd;
$black-color: #18121e;
$green-color: #1a3e3e;
$yellow-color: #f2be22;

$form-items-border-color: #e1e3e4;

$form-bg-color: rgba(255, 255, 255, 0.2);
$rating-bg-color: rgba(253, 253, 253, 0.4);
$price-bg-color: rgba(255, 255, 255, 0.3);
$play-bg-color: rgba(253, 253, 253, 0.6);

$gray-bg-color: #f3f5f4;

$offers-icon-bg-color1: #e5eeeb;
$offers-icon-bg-color2: #e3e6ee;
$offers-icon-bg-color3: #f3f1e1;

$shadow: rgba(24, 18, 30, 0.12);

$white: #fff;
$black: #000;